#body {
    background: #858585;
}

#header {
    height: 50px;
}

#calcFrame {
    width: 380px;
    height: 570px;
    border: 1px solid darkgrey;
    background: #1b1b1b;
    outline: 0;
    box-shadow: 0 0 0 4px #2a2a2a;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    border-radius: 12px;
}

#displayArea {
    width: 380px;
    height: 180px;
}

#display {
    width: 320px;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(234,247,246,1) 1%, rgba(195,245,255,1) 91%);
    border: 2px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    border-radius: 5px;
}

#displayNum {
    font-family: Courier, monospace;
    font-size: 60px;
    text-align: right;
    line-height: 1.27;
    color: rgba(95,145,155,1);
    margin: 15px;
}

#leftAlignOffset {
    width: 10px;
    height: 380px;
    float: left;
}

#buttonContainer {
    width: 360px;
    height: 380px;
    float: left;
}

.standardButton {
    width: 90px;
    height: 76px;
    border: 1px solid darkgrey;
    background: #151515;
    border-radius: 10%;
    font-size: 30px;
    color: white;
}

#ce {
    background: #351515;
}

#divide {
    background: #151f25
}

#multiply {
    background: #151f25
}

#subtract {
    background: #151f25
}

#add {
    background: #151f25
}

#equals {
    background: #152535
}

#posneg {
    background: #1e1e25;
}

#decimal {
    background: #1e1e25;
}